<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 align="center">Personal Details</h1>
    <title>Document</title>
</head>
<body>
    {% if n %}
    <table border="3px">
        <thead>
            <th> Parameter </th>
            <th> Details </th>
            
        </thead>
        <tbody>
            <tr>
                <th> Name</th>
                <td> {{ n }}</td>

            </tr>
            
            <tr>
                <th> Roll no.</th>
                <td> {{ r }}</td>

            </tr>
            <tr>
                <th> total subects</th>
                <td> {{ ts }}</td>

            </tr>
            <tr>
                <th> passed subjects</th>
                <td> {{ ps }}</td>

            </tr>
            <tr>
                <th> failed subjects</th>
                <td> {{ fs }}</td>

            </tr>
            <tr>
                <th> credits</th>
                <td> {{ ps }}</td>

            </tr>
            
            

        </tbody>
    </table>
    {% else %}
    <p> no data available</p>
    {% endif %}
     

     
    
</body>
</html>