<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=5px >
        <thead>
            <th>studentname</th>
            <th>studentroll.no</th>
            <th>totalsubects</th>
            <th>passedsubjects</th>
            <th>failedsubjects</th>
            <th>credits</th>
        </thead>
        <tbody>
        {%for i in student %}
            <tr>
                <td>{{ i.n }} </td>
                <td>{{ i.r }}</td>
                <td> {{ i.ts }}</td>
                <td>{{ i.ps }}</td>
                <td>{{ i.fs }}</td>
                <td>{{ i.credits }}</td>
            </tr>
        {% endfor %}
        </tbody>
        
        </table>
</body>
</html>